<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <display-name>MyHomePage</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <!-- 오라클데이터베이스 접속 정보 -->
	<context-param>
		<param-name>OracleDriver</param-name>
		<param-value>oracle.jdbc.OracleDriver</param-value>
	</context-param>
	
	<context-param>
		<param-name>OracleURL</param-name>
		<param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
	</context-param>
	
	<context-param>
		<param-name>OracleID</param-name>
		<param-value>SHOPPING</param-value>
	</context-param>
	
	<context-param>
		<param-name>OraclePwd</param-name>
		<param-value>1234</param-value>
	</context-param>
	
	<!--  세션 유지 기간 설정 (20분동안 세션 유지)-->
	<session-config>
		<session-timeout>20</session-timeout>
	</session-config>
	
	<!--  한글깨짐 방지를 위한 설정 (이 프로젝트의 모든 페이지에 대해서 설정)-->
	<filter>
		<filter-name>SetCharEncoding</filter-name>
		<filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
			<init-param>
				<param-name>encoding</param-name>
				<param-value>UTF-8</param-value>
			</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>SetCharEncoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- MVCboard 글 목록보기 Controller 매핑 설정-->
	<servlet>
		<servlet-name>BoardList</servlet-name>
		<servlet-class>board.ListController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoardList</servlet-name>
		<url-pattern>/MyHomePage/board_list.do</url-pattern>
	</servlet-mapping>
	
	<!-- MVCboard 글 상세보기 Controller 매핑 설정-->
	<servlet>
		<servlet-name>BoardView</servlet-name>
		<servlet-class>board.ViewController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoardView</servlet-name>
		<url-pattern>/MyHomePage/board_view.do</url-pattern>
	</servlet-mapping>
	
	<!-- MVCboard 글쓰기 Controller 매핑 설정-->
	<servlet>
		<servlet-name>BoardWrite</servlet-name>
		<servlet-class>board.WriteController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoardWrite</servlet-name>
		<url-pattern>/MyHomePage/board_write.do</url-pattern>
	</servlet-mapping>
	
	<!-- MVCboard 다운로드 Controller 매핑 설정-->
	<servlet>
		<servlet-name>BoardDown</servlet-name>
		<servlet-class>board.DownloadController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoardDown</servlet-name>
		<url-pattern>/MyHomePage/download.do</url-pattern>
	</servlet-mapping>
	
	<!-- MVCboard 비밀번호검증 Controller 매핑 설정-->
	<servlet>
		<servlet-name>BoardPass</servlet-name>
		<servlet-class>board.PassController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoardPass</servlet-name>
		<url-pattern>/MyHomePage/pass.do</url-pattern>
	</servlet-mapping>
	
	<!-- MVCboard 글수정 Controller 매핑 설정-->
	<servlet>
		<servlet-name>BoardEdit</servlet-name>
		<servlet-class>board.EditController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoardEdit</servlet-name>
		<url-pattern>/MyHomePage/board_edit.do</url-pattern>
	</servlet-mapping>
	
	
	
	<!-- 장바구니 CartController 매핑 설정-->
	
	
	<!-- 페이징 처리를 위한 설정 (변수값 할당) 출력 레코드 수 :10개, 페이지수 : 5-->
	<context-param>
		<param-name>POSTS_PER_PAGE</param-name>
		<param-value> 5</param-value>
	</context-param>
	
	<context-param>
		<param-name>PAGES_PER_BLOCK</param-name>
		<param-value>2</param-value>
	</context-param>
	
	<!-- 첨부 파일의 최대 용량 설정 (300MB)-->
	<context-param>
		<param-name>maxPostSize</param-name>
		<param-value>302400000</param-value>
	</context-param>
  
</web-app>